<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<!-- INTERNET EXPLORER CONDITIONAL COMMENT -->
  	<!--[if (IE) & (lt IE 10)]>
			<title>This browser is out-of-date!</title>
		</head>
		<body>
			<h1>You are using an obsolete Internet browser.</h1>
			<p>While it was pretty great in its day, the browser you are using is incompatible with many of the current Internet technologies, which means you're going to have a bad time. If you already have a more up-to-date Internet browser installed, then please return to this site using it.  If not, then here is a list of pages where you may download the current version of several popular Internet browsers:</p>
			<ul>
				<li><a href="https://www.mozilla.org/en-US/firefox/all/">Firefox</a></li>
				<li><a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a></li>
				<li><a href="http://www.opera.com/">Opera</a></li>
			</ul>
		</body>
  	<![endif]-->
  	<!--[if (gte IE 10) | (!IE)]>-->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!--bower:css-->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--endbower-->

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
          <p class="lead">Complete with responsive navigation!</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.0.0-beta</li>
            <li>jQuery 3.2.1</li>
          </ul>
        </div>
      </div>
    </div>

    <!--bower:js-->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/popper.js/dist/umd/popper.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--endbower-->

  </body>

<!--<![endif]-->	
</html>
